html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

canvas {
  background-color: white;
  position : absolute;
}

@font-face {
  font-family: 'Minecraft Ok';
  src: url(../ressources/polices/Minecraft.woff2);
}

#fenetre {
  position: relative;
  width: 350px;
  background-color: beige;
  padding: 10px;
  margin-left: 400px;
  margin-top: 20px;
  border: 5px black dashed;
  font: 18px 'Minecraft Ok', monospace;
  color: black;
  display: none;
}

#fenetre input {
  width: 100%;
  font: 18px 'Minecraft Ok', monospace;
  display: block;
  margin-bottom: 15px;
}

button {
  background-color: black;
  font: 25px 'Minecraft Ok', monospace;
  color: white;
  border: none;
  width: 50%;
  cursor: pointer;
}